<sw-header>

</sw-header>
<!--
<div *ngIf="randomValue > .5;else noDataBlock ">
  <h1>
    {{message | uppercase}}
  </h1>
  <h2>
    {{22/7 | number:'1.3-3'}}
  </h2>
  <h3>
    {{today}}
  </h3>
</div>
<ng-template #noDataBlock>
  <div>
        No data found: {{randomValue}}
  </div>
</ng-template>



<sw-greet></sw-greet>

<sw-discount></sw-discount>

<sw-discount></sw-discount>

<sw-spinner></sw-spinner>

<sw-looping></sw-looping>

<sw-blue-ball></sw-blue-ball>

<sw-student></sw-student>

<div class="container">
<sw-product-item></sw-product-item>
</div>




<sw-gallery-home></sw-gallery-home>

-->
<sw-product-list></sw-product-list>

<div class="container">
  {{message}}
<sw-star [rating]="3.5" (ratingClicked)="handleRatingClicked($event)"></sw-star>
<hr/>
<sw-star [rating]="4" (ratingClicked)="handleRatingClicked($event)"></sw-star>
</div>


<sw-footer>
  
</sw-footer>

